@using Xan.AspNetCore.Mvc.Crud
@using Xan.AspNetCore.Rendering
@using Xan.AspNetCore.TestWebApp.Models.Crud

@inject ShipRouter Router
@model ShipEntity

<div class="card m-2">
    <h4 class="card-header">
        Name: @Model.Name
    </h4>
    <div class="card-body">
        Length: @Model.LengthInMeters m
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="@Router.ToEdit(Model.Id, "details")">Edit</a>
    </div>
</div>
